body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #0f3d5e, #0a2540);
  min-height: 100vh;
}
.login-logo {
  text-align: center;
  margin-bottom: 20px;
}

.login-logo img {
  max-width: 140px;
  height: auto;
}

/* Center container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Card */
.auth-card {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
}
/* Headings */
.auth-card h2 {
  margin-bottom: 8px;
  color: #0a2540;
}

.auth-card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-card input:focus {
  outline: none;
  border-color: #0f3d5e;
}

/* Button */
.auth-card button {
  width: 100%;
  padding: 12px;
  background: #0f3d5e;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #0a2540;
}

.login-error {
  background-color: #a61010;
  color: #ae0e0e;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 0 6px rgba(199, 10, 10, 0.2);
}

/* Demo text */
.demo-text {
  margin-top: 18px;
  font-size: 13px;
  color: #555;
}

/* Dashboard */
.dashboard-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f3d5e, #0a2540);
  color: white;
  padding: 30px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header h2 {
  margin: 0;
}

.logout-btn {
  background: #ffffff;
  color: #0a2540;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  background: #e6e6e6;
}

/* Cards */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.post-card {
  background: white;
  color: #333;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.post-card h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #0a2540;
}

.loader,
.error {
  text-align: center;
  margin-top: 40px;
}
